

  <h1>Cafe Luzi</h1>

  <ul>
    {{#each productos}}
      <li>{{this.title}} - {{this.price}}</li>
    {{/each}}
  </ul>

  <script src="/socket.io/socket.io.js"></script> 
  <script src="/JS/home.js"></script>
  
